@use "/src/sass/base/variables.scss" as *;
@use "/src/sass/base/mixins.scss" as *;

.activities {
    padding-top: 60px;
    margin: 0 auto;

    &__wrapper {
        row-gap: 40px;
        margin-top: 20px;
    }

    &__item {
        &-img {
            margin: 0 auto;
            width: 100%;
            margin-top: 40px;
            @include img-shadow;
        }
        &-descr {
            margin-top: 20px;
            &--ceramic {
                color: $ceramic;
                font-weight: 500;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .activities {
        &__wrapper {
            margin-top: 40px;
            padding: 0 95px;
        }
        &__item {
            &-descr {
                margin-top: 25px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .activities {
        &__wrapper {
            margin-top: 80px;
            padding: 0 10px;
        }
        &__item {
            padding: 0 10px;
            &-img {
                height: 250px;
                margin-top: 60px;
                width: 100%;
            }
            &-descr {
                font-size: 20px;
            }
            &-descr--fixed {
                width: 556px;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .activities {
        padding-top: 100px;
        &__item {
            &-img {
                height: 320px;
                margin-top: 60px;
            }
        }
    }
}
