@use "/src/sass/base/mixins.scss" as *;

.promo {
    padding-top: 50px;

    &__wrapper {
        margin-top: 50px;
    }

    &__title {
        padding-inline: 5px;
    }

    &__cta {
        margin-top: 40px;
    }
    &__img {
        display: block;
        margin: 0 auto;
        width: 270px;
        @include img-shadow;
    }
    &__btn {
        margin: 0 auto;
        margin-top: 18px;
    }
}

@media screen and (min-width: 768px) {
    .promo {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: end;
        }
        &__title {
            margin-left: 71px;
            text-align: left;
        }
        &__cta {
            margin-top: 0;
        }
        &__img {
            width: 230px;
        }
        &__title {
            margin-bottom: 68px;
        }
        &__main-img {
            display: none;
        }
    }
}

@media screen and (min-width: 1200px) {
    .promo {
        position: relative;
        &__main-img {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 450px;
            height: 633px;
        }
        &__title {
            margin-left: auto;
            margin-right: 15px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .promo {
        height: 900px;
        &__main-img {
            width: 640px;
            height: 900px;
        }
        &__img {
            width: 330px;
            height: 460px;
        }
        &__wrapper {
            margin-top: 80px;
        }
        &__btn {
            margin-top: 50px;
        }
        &__btn {
            width: 330px;
            max-width: 330px;
        }
        &__title {
            margin-bottom: 110px;
        }
    }
}
