@use "/src/sass/base/mixins.scss" as *;

.promo {
    padding-top: 50px;

    &__title {
        margin-block-start: 50px;
        padding-inline: 5px;
    }

    &__img {
        display: block;
        margin: 40px auto 0 auto;
        width: 270px;
        @include img-shadow;
    }
    &__btn {
        margin: 0 auto;
        margin-top: 18px;
    }
}
