@use "/src/sass/base/variables.scss" as *;

.works {
    padding-top: 60px;
    padding-bottom: 100px;
    .works__slider {
        margin-top: 40px;
    }
    .swiper-slide img {
        width: 340px;
        display: block;
        margin: 0;
        margin: 0 auto;
    }
    .works__navigation {
        display: none;
    }
    &__wrapper {
        position: relative;
    }
    .swiper-pagination {
        --swiper-pagination-bottom: -25px;
    }
    .swiper-pagination-bullet {
        background-color: $dark;
        width: 10px;
        height: 10px;
        border-radius: 0%;
        opacity: 1;
        &-active {
            background-color: $ceramic;
        }
    }
}

@media screen and (min-width: 768px) {
    .works {
        .swiper-slide img {
            width: 400px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .works {
        .works__slider {
            margin: 80px 40px 0 40px;
        }
        .swiper-pagination {
            --swiper-pagination-bottom: -20px;
        }
        .swiper-slide img {
            width: 350px;
        }

        .works__navigation {
            display: block;
            font-size: 21px;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
        }
        .icon-right-open {
            right: 0;
        }
    }
}
@media screen and (min-width: 1920px) {
    .works {
        margin-top: 100px;
        .works__slider {
            margin: 80px 85px 0 85px;
        }
        .swiper-slide img {
            width: 400px;
        }
        .icon-right-open {
            right: 40px;
        }
        .icon-left-open {
            left: 40px;
        }
    }
}
